@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Clash Display', sans-serif;
  --font-sans: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --color-brand-dark: #0C2B4E;
  /* Deep Navy */
  --color-brand-red: #980404;
  /* Deep Crimson */
  --color-brand-cream: #C9CDCF;
  /* Light Gray */
  --color-brand-black: #222222;
  /* Dark Charcoal */
  --color-brand-gray: #55595c;
  /* Dark Steel Gray - Darkened for readability */

  --color-background: var(--color-brand-cream);
  --color-foreground: var(--color-brand-black);
}

/* 
  Usage in Tailwind: 
  bg-brand-dark
  text-brand-red
  bg-brand-cream
  font-sans (will use Outfit)
*/

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-black);
  font-family: var(--font-sans);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}