@import "tailwindcss";

@theme {
  --color-brand-dark: #780000;
  --color-brand-red: #c1121f;
  --color-brand-cream: #fdf0d5;
  --color-brand-black: #212529;
  
  --color-background: var(--color-brand-cream);
  --color-foreground: var(--color-brand-black);
}

/* 
  Usage in Tailwind: 
  bg-brand-dark
  text-brand-red
  bg-brand-cream
  etc.
*/

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-black);
  font-family: Arial, Helvetica, sans-serif;
}
